/* Copyright 2024 Oliver Smith, Jesús Higueras, user0, Peter Mack *
 * SPDX-License-Identifier: MPL-2.0 */

@media (max-width: 700px) {
    @media not (-moz-bool-pref: "mcf.addressbarontop"),
        not (-moz-pref("mcf.addressbarontop")) {
        /* If the navbar is at the bottom, we need to set an offset to have
         * the notifications (like the one for installing addons) displayed
         * on-screen. */
        /* fixes for installing extensions */
        .popup-notification-panel  {
            margin-top: -280px !important;
            max-width: 98vw;
        }
    }

    panel, panelmultiview, panelview {
        min-width: 100vw !important;
        width: 100vw !important;
        max-width: 100vw !important;
    }

    /* Adjust dialogues like "Confirm before closing multiple
     * tabs" or "Allow open in app" */
    .dialogFrame {
        max-width: 100%;
    }

}

/* CAREFUL: Do not gate these (or anything that runs inside a popup/panel)
 * behind a media query!
 * If you do, there will be a size calculation conflict between the DOM in
 * the main window and the popup/panel, and the popup/panel will be sized
 * incorrectly.

/* Hide some context menu items,
 * hide 'Customize Toolbar' in overflow menu */
#context-inspect,
#context-inspect-a11y,
#context-savelinktopocket,
#context-searchselect,
#context-sendlinktodevice,
#context-viewpartialsource-selection,
#inspect-separator,
#context-sep-selectall,
#frame-sep,
#appmenu-moreTools-button,
#appmenu-moreTools-button + toolbarseparator,
#overflowMenu-customize-button {
    display: none !important
}

menupopup {
    width: max-content !important;
    min-width: max-content !important;
    max-width: max-content !important;
    block-size: max-content !important;
    max-block-size: max-content !important;
    min-block-size: max-content !important;
}

.menupopup-arrowscrollbox {
    width: max-content !important;
    max-width: calc(100vw - 16px) !important;
    height: max-content !important;
    max-height: calc(100vh - 16px) !important;
    display: block !important;
    overflow: clip !important;
}

/* Fix webextension popups */
browser.webextension-popup-browser {
    background: transparent !important;
    min-height: 40vh !important;
    max-height: 70vh !important;
}

.webextension-popup-browser, .webextension-popup-stack {
    max-width: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    height: 100% !important;
}
