Source: mobile-config-firefox-furios
Section: x11
Priority: optional
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/FuriLabs/mobile-config-firefox-furios
Vcs-Git: https://github.com/FuriLabs/mobile-config-firefox-furios.git
Rules-Requires-Root: no

Package: mobile-config-firefox-furios
Architecture: all
Depends: ${misc:Depends},
         firefox (>= 149~),
Description: Default mobile-friendly configuration for Firefox ESR
 This package provides a set of configuration files aimed at making Firefox ESR
 more mobile-friendly. It provides:
  * default preferences values
  * custom userChrome.css
